body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

.wrapper{
  margin: 0 auto;
  width: 80%;
}

/* Header */




/* Showcase */
#showcase{
  background: url("./images/landing.jpg");
  background-size: cover;
  height: 70vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#showcase h1{
  margin: 0;
  text-align: center;
  padding: 0;
  font-size: 3.7rem;
  color: #ffffff;
  text-shadow: 2px 1px 4px rgb(0, 5, 8);
}


/* Latest Property */
#latest-property{
  background-color: #e3e4ed;
  padding: 80px 0;
}

#latest-property h1{
  text-align: center;
  color: #060a3d;
  font-size: 3rem;
  margin-bottom: 80px;
}

.latest-property-container{
  display: flex;
  justify-content: space-between;
}

.latest-property-box{
  background-color: #ffffff;
  width: 30%;
  border: 2px solid #22499b;
}

.latest-property-box img{
  width: 100%;
  height: auto;
}

.latest-property-box-text{
  padding: 1em;
  color: #3c69b2;
  font-size: 2rem;
}

.latest-property-box-text h3{
  color: #3c69b2;
  font-size: 2rem;
}

.latest-property-box-text p{
  color: #7f848e;
  font-size: 1.2rem;
}

.price{
  text-align: center;
  color: #3c69b2;
  font-size: 2.5rem;
  font-weight: 800;
  border-top: 1px solid #20278d;
  margin-top: 3rem;
  padding-top: 2rem;
}


/* Popular places */

#popular-places{
  padding: 120px 0;
}

#popular-places h1{
  text-align: center;
  color: #060a3d;
  font-size: 3rem;
  margin-bottom: 80px;
}

.popolar-places-container{
  display: flex;
  justify-content: space-around;
}

.popular-place-box{
  padding: 10px;
  border: 1px solid #060a3d;
}

.popular-places-box img{
  border: 1px solid #20278d;
  width: 80%;
}

.popular-place-box h3{
  
}